@model IPagedList<Shared.GenreDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Genres</h2>
@if (Model == null || !Model.Any())
{
    <p>There are no genres yet.</p>
}
else
{
    <p>
        @Html.ActionLink("New Genre", "New", "Genres", null, new { @class = "btn btn-primary btn-xs" })
    </p>

    using (Html.BeginForm("Index", "Genres", FormMethod.Get))
    {
        <div style="float: right">
            @Html.TextBox("searchString")
            <button title="Search" input="submit" style="background-color: transparent; border: none">
                <img src="../../Content/Images/magnifying-glass.svg" width="20" height="20" alt="Search" />
            </button>
        </div>
    }

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new
                {
                    sortOrder = ViewBag.NameSortParm,
                    currentFilter = ViewBag.CurrentFilter
                })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genreDto in Model)
            {
                <tr>
                    <td>@genreDto.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Genres", new { id = genreDto.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Genres", new { id = genreDto.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Genres", new
{
    page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter
}))


