@model IPagedList<Shared.PlaylistDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Playlists</h2>

<p>
    @Html.ActionLink("New Playlist", "New", "Playlists", null, new { @class = "btn btn-primary btn-xs" })
</p>

@if (Model == null)
{
    <p>There are no playlists yet.</p>
}

else
{
    using (Html.BeginForm("Index", "Playlists", FormMethod.Get))
    {
        <div style="float: right">
            @Html.TextBox("searchString")
            <button title="Search" input="submit" style="background-color: transparent; border: none">
                <img src="../../Content/Images/magnifying-glass.svg" width="20" height="20" alt="Search" />
            </button>
        </div>
    }

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Title", "Index", new
                    {
                        sortOrder = ViewBag.TitleSortParm,
                        currentFilter = ViewBag.CurrentFilter
                    })
                </th>
                <th>Tracks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playlistDto in Model)
            {
                <tr>
                    <td>@playlistDto.Title</td>
                    <td>@Html.ActionLink("Show Tracks", "Construction", "Playlists", new { playlistId = playlistDto.Id }, new { @class = "btn btn-primary btn-sm" })</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Playlists", new { id = playlistDto.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Playlists", new { id = playlistDto.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model != null && Model.PageCount > 0)
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}