@model IEnumerable<Shared.ArtistDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artists</h2>
@if (Model == null)
{
    <p>There are no artists yet.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Albums</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artistDto in Model)
        {
            <tr>
                <td>@artistDto.Name</td>
                <td>@artistDto.Birthdate.ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink("Show Albums", "Index", "Albums", new { id = artistDto.Id }, new { @class = "btn btn-primary btn-sm" })</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Artists", new { id = artistDto.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Artists", new { id = artistDto.Id }, null)
                </td>
            </tr>
        }
    </tbody>
    </table>
}
