@model Shared.ArtistDto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Artist</h2>

@using (Html.BeginForm("Save", "Artists"))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0: dd/MM/yyyy}", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}