@model Shared.AlbumDto

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.NewOrEdit Album</h2>

@using (Html.BeginForm("Save", "Albums"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    @*<div class="form-group">
            @Html.LabelFor(m => m.ArtistId)
            @Html.TextBoxFor(m => m.ArtistId, new { @class = "form-control" })
        </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.ArtistId)
        @Html.DropDownListFor(m => m.ArtistId, new SelectList(Model.Artists, "Id", "Name"), "Select Artist", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ArtistId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0: dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate, null, new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}