@model UI_MVC.ViewModels.AlbumArtistViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.NewOrEdit Album</h2>

@using (Html.BeginForm("Save", "Albums"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Album.ArtistId)
        @Html.DropDownListFor(m => m.Album.ArtistId, new SelectList(Model.Artists, "Id", "Name"), "Select Artist", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Album.ArtistId, null, new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Album.Name)
        @Html.TextBoxFor(m => m.Album.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Album.Name, null, new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Album.ReleaseDate)
        @Html.TextBoxFor(m => m.Album.ReleaseDate, "{0: dd/MM/yyyy}", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Album.ReleaseDate, null, new {@class = "text-danger"})
    </div>
    @Html.HiddenFor(m => m.Album.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}